[Unit]
Description=Reporter Bot Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/reporter
ExecStart=/opt/reporter/venv/bin/python3 /opt/reporter/main.py
Restart=always
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
